<html>
{% load staticfiles %}
<head>
<script src="{% static 'html2canvas.js' %}"></script>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div id="capture" style="background-color: #F0F0F1; color: #00cc65;
        padding-left: 25px;">
<div class="top">
    <p class="text-left">Date: {% now  ' d E Y' %}</p>
    <p class="text-center">Game Number: {{ players.id }} </p>
    <h4 class="text-center">{{ players.home_team }} Vs {{ players.away_team }} </h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Jersey No.</th>
      <th scope="col">Player</th>
      <th scope="col">2 Pts</th>
      <th scope="col">3 Pts</th>
      <th scope="col">Rebounds</th>
      <th scope="col">Turnovers</th>
      <th scope="col">Assists</th>
      <th scope="col">Steals</th>
      <th scope="col">Blocks</th>
      <th scope="col">Total Points</th>
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row">{{ players.player1_jersey }}</th>
      <td><p class="font-weight-bold">{{ players.player1 }}</p></td>
        <td><h1>{{ players.counter_2pt_player1 }}</h1><a href="javascript:{document.getElementById('upvote_2p_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_2p_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_3pt_player1 }}</h1><a href="javascript:{document.getElementById('upvote_3p_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_3p_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_rebounds_player1 }}</h1><a href="javascript:{document.getElementById('upvote_reb_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_reb_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_turnovers_player1 }}</h1><a href="javascript:{document.getElementById('upvote_turn_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_turn_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_assists_player1 }}</h1><a href="javascript:{document.getElementById('upvote_assist_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_assist_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_steals_player1 }}</h1><a href="javascript:{document.getElementById('upvote_steal_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_steal_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_blocks_player1 }}</h1><a href="javascript:{document.getElementById('upvote_block_1').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_block_1').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{players.counter_total_1 }}</h1></td>
    </tr>
      <th scope="row">{{ players.player2_jersey }}</th>
      <td><p class="font-weight-bold">{{ players.player2 }}</p></td>
        <td><h1>{{ players.counter_2pt_player2 }}</h1><a href="javascript:{document.getElementById('upvote_2p_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_2p_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_3pt_player2 }}</h1><a href="javascript:{document.getElementById('upvote_3p_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_3p_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_rebounds_player2  }}</h1><a href="javascript:{document.getElementById('upvote_reb_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_reb_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_turnovers_player2  }}</h1><a href="javascript:{document.getElementById('upvote_turn_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_turn_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_assists_player2 }}</h1><a href="javascript:{document.getElementById('upvote_assist_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_assist_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_steals_player2 }}</h1><a href="javascript:{document.getElementById('upvote_steal_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_steal_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_blocks_player2 }}</h1><a href="javascript:{document.getElementById('upvote_block_2').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_block_2').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
       <td><h1>{{players.counter_total_2 }}</h1></td>

    </tr>
      <tr>
      <th scope="row">{{ players.player3_jersey }}</th>
      <td><p class="font-weight-bold">{{ players.player3 }}</p></td>
        <td><h1>{{ players.counter_2pt_player3 }}</h1><a href="javascript:{document.getElementById('upvote_2p_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_2p_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{players.counter_3pt_player3 }}</h1><a href="javascript:{document.getElementById('upvote_3p_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_3p_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_rebounds_player3 }}</h1><a href="javascript:{document.getElementById('upvote_reb_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_reb_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_turnovers_player3 }}</h1><a href="javascript:{document.getElementById('upvote_turn_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_turn_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_assists_player3 }}</h1><a href="javascript:{document.getElementById('upvote_assist_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_assist_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_steals_player3}}</h1><a href="javascript:{document.getElementById('upvote_steal_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_steal_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_blocks_player3 }}</h1><a href="javascript:{document.getElementById('upvote_block_3').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_block_3').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{players.counter_total_3 }}</h1></td>
    </tr>
       <tr>
      <th scope="row">{{ players.player4_jersey }}</th>
      <td><p class="font-weight-bold">{{ players.player4 }}</p></td>
        <td><h1>{{ players.counter_2pt_player4}}</h1><a href="javascript:{document.getElementById('upvote_2p_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_2p_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_3pt_player4}}</h1><a href="javascript:{document.getElementById('upvote_3p_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_3p_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_rebounds_player4 }}</h1><a href="javascript:{document.getElementById('upvote_reb_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_reb_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_turnovers_player4 }}</h1><a href="javascript:{document.getElementById('upvote_turn_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_turn_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_assists_player4 }}</h1><a href="javascript:{document.getElementById('upvote_assist_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_assist_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_steals_player4 }}</h1><a href="javascript:{document.getElementById('upvote_steal_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_steal_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_blocks_player4 }}</h1><a href="javascript:{document.getElementById('upvote_block_4').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_block_4').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{players.counter_total_4 }}</h1></td>
    </tr>
       <tr>
      <th scope="row">{{ players.player5_jersey }}</th>
      <td><p class="font-weight-bold">{{ players.player5 }}</p></td>
        <td><h1>{{ players.counter_2pt_player5 }}</h1><a href="javascript:{document.getElementById('upvote_2p_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_2p_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_3pt_player5  }}</h1><a href="javascript:{document.getElementById('upvote_3p_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_3p_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_rebounds_player5  }}</h1><a href="javascript:{document.getElementById('upvote_reb_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_reb_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_turnovers_player5 }}</h1><a href="javascript:{document.getElementById('upvote_turn_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_turn_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_assists_player5 }}</h1><a href="javascript:{document.getElementById('upvote_assist_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_assist_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_steals_player5 }}</h1><a href="javascript:{document.getElementById('upvote_steal_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_steal_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
        <td><h1>{{ players.counter_blocks_player5 }}</h1><a href="javascript:{document.getElementById('upvote_block_5').submit();}"><button class="btn btn-success btn-sm">+</button></a>
            <a href="javascript:{document.getElementById('downvote_block_5').submit();}"><button class="btn btn-danger btn-sm">-</button></a></td>
       <td><h1>{{players.counter_total_5 }}</h1></td>
       <tr/>
  </tbody>
</table>

<div class="container">
    <div class="row-fluid">

                  <button onclick="myFunction1()" class="btn btn-primary btn-lg">Preview and Save as Image</button>
                 <button onclick="myFunction()" class="btn btn-primary btn-lg">Print Evaluation Result</button>

    </div>
</div>
</div>


<form id="upvote_2p_1" method="POST" action="{% url "upvote_2p_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_2p_2" method="POST" action="{% url "upvote_2p_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_2p_3" method="POST" action="{% url "upvote_2p_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_2p_4" method="POST" action="{% url "upvote_2p_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_2p_5" method="POST" action="{% url "upvote_2p_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_3p_1" method="POST" action="{% url "upvote_3p_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_3p_2" method="POST" action="{% url "upvote_3p_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_3p_3" method="POST" action="{% url "upvote_3p_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_3p_4" method="POST" action="{% url "upvote_3p_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_3p_5" method="POST" action="{% url "upvote_3p_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_reb_1" method="POST" action="{% url "upvote_reb_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_reb_2" method="POST" action="{% url "upvote_reb_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_reb_3" method="POST" action="{% url "upvote_reb_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_reb_4" method="POST" action="{% url "upvote_reb_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_reb_5" method="POST" action="{% url "upvote_reb_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_turn_1" method="POST" action="{% url "upvote_turn_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_turn_2" method="POST" action="{% url "upvote_turn_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_turn_3" method="POST" action="{% url "upvote_turn_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_turn_4" method="POST" action="{% url "upvote_turn_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_turn_5" method="POST" action="{% url "upvote_turn_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_assist_1" method="POST" action="{% url "upvote_assist_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_assist_2" method="POST" action="{% url "upvote_assist_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_assist_3" method="POST" action="{% url "upvote_assist_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_assist_4" method="POST" action="{% url "upvote_assist_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_assist_5" method="POST" action="{% url "upvote_assist_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>


<form id="upvote_steal_1" method="POST" action="{% url "upvote_steal_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_steal_2" method="POST" action="{% url "upvote_steal_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_steal_3" method="POST" action="{% url "upvote_steal_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_steal_4" method="POST" action="{% url "upvote_steal_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_steal_5" method="POST" action="{% url "upvote_steal_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_block_1" method="POST" action="{% url "upvote_block_1" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_block_2" method="POST" action="{% url "upvote_block_2" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_block_3" method="POST" action="{% url "upvote_block_3" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_block_4" method="POST" action="{% url "upvote_block_4" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="upvote_block_5" method="POST" action="{% url "upvote_block_5" players.id %}">
{% csrf_token %}
    <input type="hidden">
</form>

<form id="downvote_2p_1" method="POST" action="{% url "downvote_2p_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_2p_2" method="POST" action="{% url "downvote_2p_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_2p_3" method="POST" action="{% url "downvote_2p_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_2p_4" method="POST" action="{% url "downvote_2p_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_2p_5" method="POST" action="{% url "downvote_2p_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_3p_1" method="POST" action="{% url "downvote_3p_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_3p_2" method="POST" action="{% url "downvote_3p_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_3p_3" method="POST" action="{% url "downvote_3p_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_3p_4" method="POST" action="{% url "downvote_3p_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_3p_5" method="POST" action="{% url "downvote_3p_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_reb_1" method="POST" action="{% url "downvote_reb_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_reb_2" method="POST" action="{% url "downvote_reb_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_reb_3" method="POST" action="{% url "downvote_reb_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_reb_4" method="POST" action="{% url "downvote_reb_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_reb_5" method="POST" action="{% url "downvote_reb_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_turn_1" method="POST" action="{% url "downvote_turn_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_turn_2" method="POST" action="{% url "downvote_turn_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_turn_3" method="POST" action="{% url "downvote_turn_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_turn_4" method="POST" action="{% url "downvote_turn_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_turn_5" method="POST" action="{% url "downvote_turn_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_assist_1" method="POST" action="{% url "downvote_assist_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_assist_2" method="POST" action="{% url "downvote_assist_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_assist_3" method="POST" action="{% url "downvote_assist_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_assist_4" method="POST" action="{% url "downvote_assist_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_assist_5" method="POST" action="{% url "downvote_assist_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>


<form id="downvote_steal_1" method="POST" action="{% url "downvote_steal_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_steal_2" method="POST" action="{% url "downvote_steal_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_steal_3" method="POST" action="{% url "downvote_steal_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_steal_4" method="POST" action="{% url "downvote_steal_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_steal_5" method="POST" action="{% url "downvote_steal_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_block_1" method="POST" action="{% url "downvote_block_1" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_block_2" method="POST" action="{% url "downvote_block_2" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_block_3" method="POST" action="{% url "downvote_block_3" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_block_4" method="POST" action="{% url "downvote_block_4" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

<form id="downvote_block_5" method="POST" action="{% url "downvote_block_5" players.id %}">
{% csrf_token %}
<input type="hidden">
</form>

</html>

<script>
function myFunction() {
    window.print();
}
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<script>
    function myFunction1() {
     window.alert("The Screenshot Shown in Below Can be Saved as Image ")
     html2canvas(document.querySelector("#capture")).then(canvas => {
     document.body.appendChild(canvas)

});
}

</script>